@font-face {
  font-family: 'ageo_personal_useregular';
  src: url('ageopersonaluse-semibold-webfont.woff2') format('woff2'),
  url('ageopersonaluse-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'robotocondensed';
    src: url('rbc-webfont.woff2') format('woff2'),
         url('rbc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #333;
	color: white;
	font-family: Franklin Gothic Book;
}

h1 {
	font-family: Franklin Gothic Book;
}

button {
	font-size: 14px;
	border: 0;
	border-radius: 15px;
	background-color: #d73f81;
	font-family: Franklin Gothic Book;
}